.App {
  /* display: flex;
  justify-content: space-between; */

  text-align: center;
  /* height: 100%;
  background-color: gray;
  display: flex;
  width: 1280px;
  height: 1024px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px; */
}

.Alt {
  color: red;
}
