.footer {
    color: gold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98.5%;
    background-color: black;
}





html {
    background-color: lightgray;  
    background: url("./homePage.png");
}